body {
  margin:0;
  background: #123524;
}

h1 {
  text-align:center;
  font-size: 10vw;
  border-bottom: solid #ccc 10vw;
  color: #ffd700;
}

h3 {
  text-align:center;
  font-size:3vw;
  position: relative;
  z-index:2;
  top:-70px;
  color: black;
}

.responsive {
  width: 100%;
  height: auto;
  display: inline-block;
  transform:translateY(50%);
  animation-name: fadeIn;
  animation-duration:4s;
  animation-fill-mode: forwards;
  text-decoration-style: none;
}

@keyframes fadeIn {
  0% {opacity:0}
  50%{opacity:0}
  100%{opacity:1}
}
