body {
  font-family: Roboto;
  background: #123524;
}

a {
  text-decoration:none;
  list-style-type: none;
  color: #e49a00;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .grid div {
  text-decoration:none;
  list-style-type: none;
  color: #e49a00;
}

#name {
  text-shadow: 2px 3px #1a98b5;
  font-size: 6vw;
  text-decoration:none;
  list-style-type: none;
  color: #e49a00;
}

.enter {
  text-shadow: 1.5px 1px #1a98b5;
  font-size: 5vw;
  text-align: center;
}

.enter:hover {
  text-decoration: underline ;
  transform: scale(1.5);
  transform-origin: bottom;
}

.grid {
  text-shadow: 1.5px 1px #1a98b5;
  font-size: 5vw;
  display: flex;
  position:relative;
  width: 100%;
  justify-content: center;
}

.cycle1 {
  animation: cycle1 10s infinite;
  position:absolute;
  z-index: 10;
}

@keyframes cycle1 {
  0% {opacity:1;}
  10% {opacity:1;}
  20% {opacity:0;}
  30% {opacity:0;}
  40% {opacity:0;}
  50% {opacity:0;}
  60% {opacity:0;}
  70% {opacity:0;}
  80% {opacity:0;}
  90% {opacity:0;}
  100% {opacity:1;}
}

.cycle2 {
  animation: cycle2 10s infinite;
  position:absolute;
  z-index:10;
}

@keyframes cycle2 {
  0% {opacity:0;}
  10%{opacity:0;}
  20% {opacity:1;}
  30% {opacity:1;}
  40% {opacity:0;}
  50% {opacity:0;}
  60% {opacity:0;}
  70% {opacity:0;}
  80% {opacity:0;}
  90% {opacity:0;}
  100% {opacity:0;}
}

.cycle3 {
  animation: cycle3 10s infinite;
  position:absolute;
  z-index:10;
}

@keyframes cycle3 {
  0% {opacity:0;}
  20% {opacity:0;}
  30% {opacity:0;}
  40% {opacity:1;}
  50% {opacity:1;}
  60% {opacity:0;}
  70% {opacity:0;}
  80% {opacity:0;}
  90% {opacity:0;}
  100% {opacity:0;}
}

.cycle4 {
  animation: cycle4 10s infinite;
  position:absolute;
  z-index:10;
}

@keyframes cycle4 {
  0% {opacity:0;}
  20% {opacity:0;}
  30% {opacity:0;}
  40% {opacity:0;}
  50% {opacity:0;}
  60% {opacity:1;}
  70% {opacity:1;}
  80% {opacity:0;}
  90% {opacity:0;}
  100% {opacity:0;}
}

.cycle5 {
  animation: cycle5 10s infinite;
  position:absolute;
  z-index:10;
}

@keyframes cycle5 {
  0% {opacity:0;}
  20% {opacity:0;}
  30% {opacity:0;}
  40% {opacity:0;}
  50% {opacity:0;}
  60% {opacity:0;}
  70% {opacity:0;}
  80% {opacity:1;}
  90% {opacity:1;}
  100% {opacity:0;}
}
