html, body {
  display:flex;
  flex:1;
}

body {
  background: #123524;
}

#circle {
  margin: auto;
  position: relative
  z-index: 2;
}

@media (max-width: 800px) {
    #circle {
        top: 50%;
        left: 50%;
        display: block;
        position: absolute;
        width: 800px;
        height: 800px;

        margin-top: -400px;
        margin-left: -400px;
    }
}

#outerCircle {
  height:500px;
  width:500px;
  border-radius:50%;
  position:relative;
  background-color: #ffd700;
  transform:translateY(50%);
}
#innerCircle {
    height:400px;
    width:400px;
    border-radius:50%;
    position:absolute;
    background-color: #123524;
    top:50%;
    left:50%;
    margin: -200px 0px 0px -200px;
}

.me {
  display: flex;
  flex:1;
}

#name {
  top: 670px;
  font-size:60px;
  position: absolute;
  z-index: 1;
}

#portfolio {
  top: 775px;
  left: 600px;
  font-size:30px;
  position: absolute;
  z-index: 1;
}
