html {
  background: #123524;
  scroll-behavior: smooth;
}

body {
  margin:0;
}

hr {
  height: 2.5px;
  background-color: #e49a00;
  border:none;
}

#name {
  border-bottom: solid #ffd700;
  font-size: 10vw;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin-top:25px;
  text-shadow: 2px 4px 1px #468fa2;
}


navbar a .contact {
  float: right;
  padding-right: 20px;
}


#grid {
  margin: 20px;
  line-height:0;
  -webkit-column-count:5;
  -webkit-column-gap:0;
  -moz-column-count:5;
  -moz-column-gap: 0;
  column-count:5;
  column-gap:0;
}

#grid img {
  width:100%;
  height: auto;
}

.align {
  text-align:center;
}

.header  {
  color: #e49a00;
  font-size: 7vw;
  text-align:center;
  text-shadow: 2px 4px 1px #468fa2;
}

a {
  color:#e49a00;
  text-decoration: none;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

a:hover {
  text-decoration:underline;
}

.header2 {
  color: #e49a00;
  font-size: 4.5vw;
  text-align:center;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.list {
  color: #e49a00;
  font-size: 2.7vw;
  list-style-type: none;
  text-align: center;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin-top: -60px;
}
.list li {
  display:inline;
}

.responsive {
  width: 100%;
  height: auto;
  display: inline-block;
}

.responsive_img {
  width: 30%;
  height: auto;
  display: inline-block;
  border-radius: 10px;
}

.responsive_vid {
  width: 80%;
  height: auto;
  display: inline-block;
}
.responsive_pn {
  width: 50%;
  height: auto;
  display: inline-block;
  border-radius: 10px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 300;
}

.navbar a {
  border-right: solid 4px white;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 1.2vw;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}
.toggle, [id^=drop] {
  display: none;
}


.grid {
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 30% 30% 30% 30% 30% 30% 30%;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  margin: 40px;
}

.block {
  align-items: center;
  background: rgba(0,25,25, 0.3);
  border-radius: 10px;
  text-align:center;
  font-size: 2vw;
  transition-duration: .4s;
}

.back {
  float: right;
  font-size: 1.5vw;
  margin-right:100px;
  transition-duration: .4s;
}

.back:hover {
  transform:scale(1.5);
}

.title {
  display: flex;
  justify-content:center;
  color: #e49a00;
  font-size: 4vw;
}
